@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Define the color change animation */
@keyframes down {
    0% { color: rgba(60, 60, 60, 0.87); }
    25% { color: #FF0000; }
    65% { color: #FF0000; }
    100% { color: rgba(60, 60, 60, 0.87); }
}

@keyframes up {
    0% { color: rgba(60, 60, 60, 0.87); }
    25% { color: #00DF00; }
    65% { color: #00DF00; }
    100% { color: rgba(60, 60, 60, 0.87); }
}

/* Apply the animation when the 'animate' class is added */
.decrement {
    animation: down 1.5s ease-in-out;
}

.increment {
    animation: up 1.5s ease-in-out;
}