@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-family: Exo;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Define the color change animation */
@keyframes down {
    0% { 
      color: white; 
      -webkit-text-stroke-color: white;
    }
    25% { 
      color: #990000;
      -webkit-text-stroke-color: #990000;
    }
    65% { 
      color: #990000; 
      -webkit-text-stroke-color: #990000;
    }
    100% { 
      color: white; 
      -webkit-text-stroke-color: white;
    }
}

@keyframes up {
    0% { 
      color: white;
      -webkit-text-stroke-color: white;
    }
    25% { 
      color: #00DF00; 
      -webkit-text-stroke-color: #00DF00;
    }
    65% { 
      color: #00DF00; 
      -webkit-text-stroke-color: #00DF00;
    }
    100% { 
      color: white;
      -webkit-text-stroke-color: white;
    }
}

@keyframes rank1 {
  0% {
    @apply h-0
  }
  100% {
    @apply h-96
  }
}

@keyframes rank2 {
  0% {
    @apply h-0
  }
  100% {
    @apply h-56
  }
}

@keyframes rank3 {
  0% {
    @apply h-0
  }
  100% {
    @apply h-44
  }
}

/* Apply the animation when the 'animate' class is added */
.decrement {
    animation: down 1.5s ease-in-out;
}

.increment {
    animation: up 1.5s ease-in-out;
}

.border-custom {
  border-width: 10px;
}

.counter-box {
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: white;
}

.animate-rank1 {
  animation: rank1 1s ease-in-out forwards;
}

.animate-rank2 {
  animation: rank2 1s ease-in-out forwards;
}

.animate-rank3 {
  animation: rank3 1s ease-in-out forwards;
}